@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #9caeb2 !important;
    padding-top: 100px;
}

nav img {
    background-color: #fff;
}

nav {
    background-color: #618e94;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
form{
    background-color: #618e94;
    padding: 20px;
    border-radius: 50px;
}
div label{
    font-weight: bold;
    color: #fff;
}

i {
    padding: 0 5px;
}

h2 {
    color: #fff;
}

.form-group {
    padding-bottom: 10px;
}

footer {
    background-color: #618e94;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

footer a {

    text-decoration: none;
    color: #fff
}

.active {
    font-weight: bold;
}

nav li {
    padding: 0 10px;
    border: 1px solid #fff;
}

.card {
    width: 18rem;
    height: 35rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    padding: 5px;
}




#bannercontent {
    position: relative;
    top: -220px;
    margin: auto;
    width: 55%;
    height: auto
}

#bannercontent h1 {
    animation: fadeinleft 2s;
}

#bannercontent a {
    animation: fadeinright 2s;
}

#navlogo {
    width: 75px;
}

#buttonthanks {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#buttonsend,#buttonAppointment{
    background-color: #fff;
    color: #618e94;
    border-color: white;
}
#buttonsend:hover,#buttonAppointment:hover {
    background-color: #618e94;
    color: #fff;
    border-color: white;
}
#calendar{

}
#formWarning{
    color: white;
}

@media screen and (min-width:576px) {
    #bannercontent {
        top: -240px;
    }
}

@media screen and (min-width:768px) {
    #bannercontent {
        top: -275px;
    }

    #navlogo {
        width: 100px;
    }
}

@media screen and (min-width:992px) {
    #bannercontent {
        top: -375px;
    }
}

@media screen and (min-width:1200px) {
    #bannercontent {
        top: -450px;
    }
}


@keyframes fadeinleft {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeinright {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}